<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="newsletter_subscriber_save_before">
        <observer name="Ciudaddemasotas_Remarkety_observer_newsletter_subscriber_save_before" instance="Ciudaddemascotas\Remarkety\Observer\NewsletterSubscriberSaveBefore" />
    </event>
</config>